.fc-delay-report {
    &__brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 8px;
        border-bottom: 2px solid #ffc832;
        font-size: 18px;
        font-weight: 800;

        & strong {
            color: #ffc832;
            font-size: 15px;
        }
    }

    &__percent {
        display: block;
        margin-top: 20px;
        font-size: 55px;
        line-height: 1;
    }

    & h2,
    & h3 {
        margin: 4px 0 0;
        font-size: 23px;
    }

    & h3 {
        margin-top: 28px;
    }

    & p {
        margin: 0;
        color: #ed817c;
        font-size: 14px;
    }

    &__stripe {
        height: 60px;
        margin-top: 15px;
        background: linear-gradient(90deg, #fff 0 32%, #eee 32% 65%, #fff 65%);
    }

    &__big {
        display: block;
        margin-top: 8px;
        font-size: 30px;
    }
}