.fc-flight-list {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 0;
    border-bottom: 1px solid #383838;

    &__days {
        display: flex;
        flex: none;
        flex-direction: column;
        align-items: center;
        width: 54px;

        & strong {
            font-size: 30px;
            line-height: 1;
        }

        & small {
            color: #aaa;
        }
    }

    &__logo {
        display: grid;
        flex: none;
        place-items: center;
        width: 54px;
        height: 54px;
        border: 3px solid white;
        border-radius: 50%;
        font-size: 31px;
    }

    &__content {
        flex: 1;
        min-width: 0;
    }

    &__meta {
        display: flex;
        justify-content: space-between;
        gap: 8px;
        color: #aaa;
        font-size: 14px;
    }

    &__content>strong {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 19px;
    }

    &__sub {
        color: #999;
        font-size: 14px;

        &>span {
            display: inline-block;
            margin: 4px 5px 0 0;
            padding: 0 5px;
            border: 1px solid #555;
            border-radius: 10px;
        }
    }

    &__close {
        border: 1px solid white;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        background: none;
        color: white;
        font-size: 24px;
    }
}