@use "../../common/typography" as typo;

.fc-performance {
    margin-top: 20px;

    >.fc-stat-head:not(:first-child) {
        margin-top: 40px;
    }

    &__headline {
        display: flex;
        align-items: baseline;
        gap: 8px;

        strong {
            @include typo.font(d6, sb);
        }

        span {
            color: var(--fc-text-secondary, #aaa);
            @include typo.font(t3, sb);
        }
    }

    >p {
        margin: 4px 0 20px;
        color: var(--fc-text-secondary, #aaa);
    }

    &__bar {
        margin: 10px 0;

        >div {
            display: flex;
            justify-content: space-between;
            @include typo.font(b3, rg);
        }
    }

    &__meter {
        display: grid;
        grid-template-columns: 68px 1fr 33px;
        align-items: center;
        gap: 6px;
        margin: 8px 0;
        @include typo.font(c2, rg);
    }

    &__delay {
        display: grid;
        grid-template-columns: 1fr 55px 70px;
        gap: 5px;
        margin: 7px 0;
        color: var(--fc-text-secondary, #aaa);
        @include typo.font(c2, rg);

        b {
            color: var(--fc-danger, #ff5049);
        }
    }
}