@use "../../common/typography" as typo;

.fc-connection {
    text-align: center;

    h2 {
        margin: 0 0 4px;
        @include typo.font(h3, sb);
    }

    p {
        margin: 0;
        @include typo.font(b1, sb);
    }

    p strong {
        color: #53d96c;
    }
}