@use "../../common/typography" as typo;

.fc-delay-report {
    &__brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 8px;
        border-bottom: 2px solid #ffc832;
        @include typo.font(t5, sb);

        strong {
            color: #ffc832;
            @include typo.font(b2, sb);
        }
    }

    &__percent {
        display: block;
        margin-top: 20px;
        @include typo.font(d6, sb);
    }

    h2,
    h3 {
        margin: 4px 0 0;
        @include typo.font(h5, sb);
    }

    h3 {
        margin-top: 28px;
    }

    p {
        margin: 0;
        color: #ed817c;
        @include typo.font(b3, rg);
    }

    &__stripe {
        height: 60px;
        margin-top: 15px;
        background: linear-gradient(90deg, #fff 0 32%, #eee 32% 65%, #fff 65%);
    }

    &__big {
        display: block;
        margin-top: 8px;
        @include typo.font(h3, sb);
    }
}