@use "../../common/typography" as typo;

.fc-settings {
    margin-top: 40px;

    h2 {
        margin: 0 0 20px;
        @include typo.font(h3, sb);
    }

    &__pro {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 12px;
        padding: 14px 8px;
        border: 1px solid #6722ff;
        border-width: 1px 0;
        background: none;
        color: var(--fc-text-strong, white);
        text-align: left;
        @include typo.font(t3, rg);

        b {
            padding: 6px;
            border-radius: 7px;
            background: #5d17ff;
            color: white;
            @include typo.font(btn4, sb);
        }

        >span:not(.fc-icon) {
            display: flex;
            flex: 1;
            flex-direction: column;
            color: #9b5bff;
            @include typo.font(t5, rg);
        }

        small {
            @include typo.font(c1, rg);
        }
    }

    &__group {
        margin-top: 28px;

        h3 {
            margin: 0 0 5px;
            color: var(--fc-text-secondary, #aaa);
            @include typo.font(c3, sb);
        }

        button {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 10px;
            padding: 12px 5px;
            border: 0;
            border-top: 1px solid var(--fc-border, #424242);
            background: none;
            color: var(--fc-text-strong, white);
            text-align: left;
        }

        button>span {
            width: 25px;
        }

        button b {
            margin-left: auto;
            @include typo.font(t3, sb);
        }
    }
}