@use "../common/typography" as typo;

.calendar-sync-page {
    .fc-calendar-sync {
        display: flex;
        flex-direction: column;
        min-height: 650px;

        >strong {
            margin: 12px 4px;
            @include typo.font(t5, rg);
        }

        >p {
            margin: 0 4px 20px;
            @include typo.font(b1, rg);
        }
    }

    .fc-calendar-sync__item {
        margin: 20px 0;

        h3 {
            @include typo.font(h6, sb);
        }
    }

    .fc-calendar-sync__notice {
        align-items: center;
        gap: 8px;
        margin-top: auto;

        >.fc-icon {
            flex: none;
            color: var(--fc-success, #00ae70);
            @include typo.font(h5, rg);
        }
    }
}