@use "../common/typography" as typo;

.stats-page {
    &__flight-tabs {
        display: flex;
        align-items: baseline;
        gap: 8px;

        >span {
            color: var(--fc-text-secondary, #aaa);
            @include typo.font(c3, rg);
        }

    }

    &__line-chart {
        display: block;
        width: 100%;
        height: 180px;
        margin-top: 20px;
        overflow: visible;
    }
}