@use "../../common/typography" as typo;

.fc-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 0;
    background: none;

    &--sm {
        @include typo.font(btn4, rg);
        border-radius: 6px;
        padding: 4px 8px;
    }

    &--md,
    &--lg {
        @include typo.font(btn1, sb);
        border-radius: 8px;
        padding: 11px 16px;
    }

    &--default {
        --fc-button-fill-background: transparent;
        --fc-button-fill-border: var(--fc-border, #595959);
        --fc-button-fill-color: var(--fc-text-strong, white);
        --fc-button-text-color: var(--fc-text-strong, white);
    }

    &--red {
        --fc-button-fill-background: var(--fc-danger, #ff4e48);
        --fc-button-fill-border: var(--fc-danger, #ff4e48);
        --fc-button-fill-color: white;
        --fc-button-text-color: var(--fc-danger, #ff4e48);
    }

    &--gray {
        --fc-button-fill-background: var(--fc-button-gray, #8e8e93);
        --fc-button-fill-border: var(--fc-button-gray, #8e8e93);
        --fc-button-fill-color: white;
        --fc-button-text-color: var(--fc-text-secondary, #aaa);
    }

    &--primary {
        --fc-button-fill-background: var(--fc-blue, #087bfa);
        --fc-button-fill-border: var(--fc-blue, #087bfa);
        --fc-button-fill-color: white;
        --fc-button-text-color: var(--fc-link, #1685ff);
    }

    &--fill {
        border: 1px solid var(--fc-button-fill-border);
        background: var(--fc-button-fill-background);
        color: var(--fc-button-fill-color);
    }

    &--text {
        padding: 0;
        color: var(--fc-button-text-color);
    }

    &:disabled {
        opacity: 0.45;
        cursor: not-allowed;
    }
}